@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-showtime-dark text-white font-sans antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .glass {
    @apply bg-black/40 backdrop-blur-md border border-white/10;
  }
}
